.fl-wrap-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fl-wrap-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.fl-wrap-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fl-wrap-cen-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-baseline {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.fl-wrap-cen-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-wrap-cen-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fl-column-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-end {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-cen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-between {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-column-around {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fl-order1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.fl-order2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.fl-order3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3; }

.fl-order4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

.fl-order5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

.fl-order6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6; }

.fl-order7 {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7; }

.fl-order8 {
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8; }

.fl-order9 {
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9; }

.fl-order10 {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10; }

.fl-flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fl-flex2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fl-flex3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fl-flex4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fl-flex5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fl-flex6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fl-flex7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fl-flex8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fl-flex9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fl-flex10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10; }
